<h2>Bulk Discounts</h2>
<%= render @bulk_discounts %>
<%= button_to "Create Discount", new_merchant_bulk_discount_path, method: :get %>
<section>
<br>
Upcoming Holidays
<br>
<br>
<%= render @holidays %>
</section>